<h1><%=@restaurant.name%></h1>
<p>Location: <%=@restaurant.location%></p>
<p>Rating: <%=@restaurant.rating%></p>
<p>Reviews: <%=@restaurant.reviews%></p>
<p>Offers Breakfast?: <%=@restaurant.breakfast%></p>
<p>Menu Items: <%=@restaurant.plates.count%>