<h1><%=@restaurant.name%></h1>
<p>Location: <%=@restaurant.location%></p>
<p>Rating: <%=@restaurant.rating%></p>
<p>Reviews: <%=@restaurant.reviews%></p>
<p>Offers Breakfast?: <%=@restaurant.breakfast%></p>
<p>Available Menu Items: <%=@restaurant.plates.count%></p><br>
<a href="/restaurants/<%="#{@restaurant.id}"%>/plates">See Full Menu</a><br>
<%= link_to "Update #{@restaurant.name}", "/restaurants/#{@restaurant.id}/edit" %>